.gradle/
.idea/
local.properties
*.iml

build/
app/build/

captures/
.externalNativeBuild/
.cxx/

*.apk
*.apks
*.aab
*.dex
*.jar

reverse/private/
jadx-export/
mt-export/

keystore.properties
*.jks
*.keystore